.serv_pg1i:hover{
    transition: all 0.3s;
    transform: scale(1.15);
    cursor: pointer; 
    z-index: 1;     
    
}
.cardMovieSearch:hover
.cardTitle {
    color: #e7e5e5;
  }
  
.containerCardsMovie{
    
    align-items: stretch;
}
.serv_pg1i{
    height:90%;
    
}
.inputCardsMovie{
    visibility: hidden;
}
@media screen and (min-width:850px){
    .cardTitle {
        font-size: 1rem;
      }
}